body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #636b6f;
    
}

ul {
    margin-right: 50px;
}

li {
    display: inline-block;
    margin-left: 30px;
}

/* comment */
